doctype html
html
	head
		meta(charset='utf-8')
	body
		ul
			li 
				a(href="./") /main
			li
				a(href="./topic") /topic
			li
				a(href="./topic/add") /topic/add
			li
				a(href="./upload") /upload